@import 'tailwindcss';

* {
    @apply m-0 p-0;
}

.text-atas {
    @apply text-center font-bold text-2xl;
}

.icon {
    @apply w-16 m-3 bg-gray-900 border-2 rounded-4xl shadow-black shadow-[0_5px_10px_rgba(0,0,0,0.18)];
}